nav {
        position: -webkit-sticky; /* Safari */
        position: fixed;
        top: 0;
        width: 100%;
}

nav a {
        color:aliceblue;
        text-decoration: unset;
}

nav a:hover {
        color: darkgray
}