nav {
        position: -webkit-sticky; /* Safari */
        position: fixed;
        top: 0;
}

nav a {
        color:aliceblue;
        text-decoration: unset;
}

nav a :hover {
        color: darkgray
}