nav {
        position: -webkit-sticky; /* Safari */
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
}

nav a {
        color:aliceblue;
        text-decoration: unset;
}

nav a:hover {
        color: darkgray
}


.clanky {
        display: flex;
        justify-content: space-around;

}
.textik {
border: 3px;
display: flex;
/* width: 300px; */
}

.flex {
        display: flex;
}

.uvod {
        width: 100%;
        min-height: 250px;
        background-image: url("https://media.istockphoto.com/vectors/digital-binary-code-computer-matrix-data-falling-numbers-coding-and-vector-id1093112310?k=6&m=1093112310&s=612x612&w=0&h=ofdqOOHQ4NdBU53qc-fqgeOqJxlymoQYivt_KF-aPTU=");

}